{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="row justify-content-center border border-4 border-secondary rounded m-5">
        <div class="col-12 col-md-8 p-5">
            <h1>Espace de Connexion</h1>
            <form action="{{ path('login') }}" method="post">
                <label for="mail">Adresse Mail</label>
                <input type="text" id="mail" name="_username" class="form-control" value="{{ last_username }}">
                <label for="mdp">Mot de passe</label>
                <input type="password" id="mdp" name="_password" class="form-control">
                <input type="submit" class="btn btn-primary mt-3" value="Connexion">
                <a href="{{ path('utilisateurs_new') }}" class="btn btn-danger mt-3">Inscription</a>
            </form>
        </div>
    </div>
{% endblock %}