@media screen and (max-width: 420px)
{

    th{
        display: none;
    }

    tr{
        font-size: 18px;
        font-weight: bold;

    }

    .poids{
        display: none;
    }

    .img{
        max-width: 250px;
        height: auto;
    }

}

@media screen and (min-width:421px) and (max-width:790px)
{

    .img{
       max-width: 350px ;
        height: auto;
    }

}






@media screen and (min-width:791px)
{

    .img{
        height: auto ;
        max-width: 300px;
    }

}