header {
    background-color: #c70b0b !important;
}

.submit {
    display: inline-block;
    transition: 0.2s ease;
}

.iconi{
    color: #222222;
}

.foot {
    background-color: #313131;
}

.panier , .compte {
    border: #2f3640 ;
    cursor: pointer;
    transition: 0.6s;
    background-color: #FFFFFF;
}
.panier:hover {
    background-color: #c70b0b ;
}
.compte:hover{
    background-color: #c70b0b ;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
}

/*results for search*/
.results {
    position: relative;
    border-radius: 0px 0px 25px 25px ;
    background-color: #FFFFFF;
    direction: rtl;
}
