H1{
   color: #6f786f;
}

body{
   min-height: 100vh !important;
   display: grid !important;
   grid-template-rows: auto 1fr auto !important;
}

.card-header{
   display: flex;
   align-items: center !important;
   flex-wrap: wrap;
}


div.card-header {
   min-height: 300px;
   width: auto;
}

div.card {
   min-height: 500px;
}


td{
   font-size: 18px;
}

th{
   font-size: 18px;
   color: cornflowerblue;
}

