{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <div class="row justify-content-center border border-4 border-secondary rounded m-5">
        <div class="col-12 col-md-8  p-5">
            <h1>Modifier le profil</h1>
            {{ include('utilisateurs/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}
