{% extends 'base.html.twig' %}

{% block title %}New LigCom{% endblock %}

{% block body %}
    <h1>Create new LigCom</h1>

    {{ include('lig_com/_form.html.twig') }}

    <a href="{{ path('lig_com_index') }}">back to list</a>
{% endblock %}
