
<h3>Vous vous êtes inscrit !</h3>

Bonjour {{ nom }}! Vous êtes enregistré avec succès.


Pour vous connecter, allez sur : <a href="{{ url('app_login') }}">...</a>.

Merci pour votre inscription!

<img src="{{ absolute_url(asset('images/Logo04.png')) }}">